/**
 * The header styles.
 */

header {
	color: #999;
	background: #f1f1f1;
	height: 40px;
	padding: 4px 8px;
	font-size: .85em;
	white-space: nowrap;
	line-height: 0;
	overflow: hidden;
	vertical-align: middle;
}

header ul {
	float: right;
	list-style: none;
	margin: 4px 0;
	line-height: 32px;
}

header ul li {
	display: inline;
	padding: 0 0 0 4px;
}

header ul li a {
	display: inline-block;
	border: 1px solid #c6c6c6;
	background-color: #f8f8f8;
	background-image: linear-gradient(top, #f8f8f8, #ececec);
	background-image: -webkit-linear-gradient(top, #f8f8f8, #ececec);
	border-radius: 2px;
	color: #999;
	font-weight: bold;
	cursor: pointer;
	padding: 0 2px;
}

header ul li a:hover {
	color: #2f5bb7;
	border: 1px solid #2f5bb7;
	background-color: #357ae8;
	background-image: linear-gradient(top, #4d90fe, #357ae8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	text-decoration: none;
}

header ul li a img {
	height: 26px;
	vertical-align: middle;
	border: 1px solid #d3d3d3;
	margin-top: -2px;
	border-radius: 2px;
}

