/* Main stylesheet */

body, div, h1, form, fieldset, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

html {
	height: 100%; /* Needed on some browsers for the gradient to work. */
}

body {
	background: #728eaa;
	background: -moz-linear-gradient(top, #25303C 0%, #728EAA 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25303C), color-stop(100%,#728EAA)); /* webkit */
	font-family: Verdana, Arial, sans-serif;
}

/* The notification box */

#notification_box {
	font-size: 16px;
	line-height: 26px;
	width: 80%;
	padding: 15px 10% 2px 10%;
	z-index: 250;
	position: fixed;
	top: 0px;
	left: 0px;
	background: white;
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0 1px 10px #9c9c9c;
	-moz-box-shadow: 0 1px 10px #9c9c9c;
	-webkit-box-shadow: 0 1px 10px #9c9c9c;
}

#notification_box > p {
	margin: 0 0 1em 0;
	padding: 0 0 0 34px;
	border: none;
	display: block;
}

#notification_box > p.error {
	background: transparent url('../images/error.png') no-repeat 0 50%;
}

#notification_box > p.info{
	background: transparent url('../images/info.png') no-repeat 0 50%;
}

#notification_box > p.denied{
	background: transparent url('../images/denied.png') no-repeat 0 50%;
}

#notification_box > div.notification_close {
	margin: 0;
	padding: 0 0 0 34px;
	border: none;
	font-size: 10px;
	font-weight: normal;
	color: #999;
	cursor: pointer;
}

/* The information box */

#information_box {
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	line-height: 26px;
	width: 100%;
	padding: 2px 8px;
	z-index: 250;
	position: fixed;
	bottom: 0px;
	right: 0px;
	color: white;
	background: black;
	background: rgba(0, 0, 0, 0.85);
	box-shadow: 0 -1px 10px #9c9c9c;
	-moz-box-shadow: 0 -1px 10px #9c9c9c;
	-webkit-box-shadow: 0 -1px 10px #9c9c9c;
}

#information_box strong {
	color: #ffa500;
}

/* The login box */

#login_box {
	width: 430px;
	margin: 60px auto 60px auto;
	padding: 60px 30px;
	background: #c9d0de;
	border: 1px solid #e1e1e1;
	border-radius: 8px;
	-moz-box-shadow: 0px 0px 8px #444;
	-webkit-box-shadow: 0px 0px 8px #444;
}

#login_box h1 {
	font-size: 35px;
	color: #445668;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 35px 0;
	text-shadow: 0px 1px 0px #f2f2f2;
}

#login_box label {
	float: left;
	clear: left;
	margin: 11px 20px 0 0;
	width: 95px;
	text-align: right;
	font-size: 16px;
	color: #445668;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px #f2f2f2;
}

#login_box input {
	width: 260px;
	height: 35px;
	padding: 5px 20px 0px 20px;
	margin: 0 0 20px 0;
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;
	-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-size: 16px;
	color: #f2f2f2;
	text-shadow: 0px -1px 0px #334f71;
}

#login_box input::-webkit-input-placeholder,
#login_box input:-moz-placeholder {
		color: #a1b2c3;
		text-shadow: 0px -1px 0px #38506b;
		text-transform: uppercase;
}

#login_box textarea {
	width: 260px;
	height: 170px;
	padding: 12px 20px 0px 20px;
	margin: 0 0 20px 0;
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 1px 0px #f2f2f2;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;
	-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-size: 16px;
	color: #f2f2f2;
	text-transform: uppercase;
	text-shadow: 0px -1px 0px #334f71;
}

#login_box textarea::-webkit-input-placeholder {
	color: #a1b2c3;
	text-shadow: 0px -1px 0px #38506b;
}

#login_box textarea:-moz-placeholder {
	color: #a1b2c3;
	text-shadow: 0px -1px 0px #38506b;
}

#login_box input:focus,
#login_box textarea:focus {
	background: #728eaa;
	background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668099), color-stop(20%,#728eaa)); /* webkit */
}

#login_box input[type=submit] {
	width: 185px;
	height: 52px;
	float: right;
	padding: 10px 15px;
	margin: 0 15px 0 0;
	box-shadow: 0px 0px 5px #999;
	-moz-box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	border: 1px solid #556f8c;
	background: -moz-linear-gradient(top, #718DA9 0%, #415D79 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415D79)); /* webkit */
	cursor: pointer;
}

/* The generic content */

#content {
	margin: 16px;
	padding: 8px;
	border-radius: 8px;
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	box-shadow: 0px 0px 4px #444;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;
}
