{# The login page #}

{% extends "generic/main.html" %}

{% block title %}Freelan Server - Login{% endblock %}

{% block content %}

<div class="form-box login-box">
	<h2>Log in</h2>

	<form method="post" action="{{ url_for('login', next=next) }}">
		<fieldset>
			<div class="username-div">
				<label for="username_box"><strong>Username</strong></label>
				<input type="text" id="username_box" name="username" placeholder="Enter your username" autofocus="autofocus" required="required" />
			</div>
			
			<div class="password-div">
				<label for="password_box"><strong>Password</strong></label>
				<input {%if login_error %}class="form-error"{% endif %} type="password" id="password_box" name="password" placeholder="Enter your password" required="required" />

				{% if login_error %}
					<span class="errormsg">{{ login_error }}</span>
				{% endif %}
			</div>

			<input type="submit" value="Log in" />

			<label class="remember">
				<input type="checkbox" name="remember" value="yes"/>
				<strong>Remember me</strong>
			</label>
		</fieldset>
	</form>
</div>

{# The footer #}
{% include 'elements/footer.html' %}

{% endblock %}
