{% extends "generic/page.html" %}

{% block title %}
	{% if network %}
Freelan Server - Network: {{ network.name }}
	{% else %}
Freelan Server - New network
	{% endif %}
{% endblock %}

{% block page %}
	{% if network %}
		<h1>Network: <b>{{ network.name }}</b></h1>
	{% else %}
		<h1>New network</h1>
	{% endif %}

	<div class="form-box">
		{% if network %}
			<form method="post" action="{{ url_for('network', network_id=network.id) }}">
		{% else %}
			<form method="post" action="{{ url_for('network/create') }}">
		{% endif %}
			{{ form.csrf_token }}

			<fieldset>
				<img class="avatar" src="{{ url_for('static', filename='images/menu/networks.png') }}" alt="A network icon" />

				<div class="name-div">
					{{ form.name.label }}
					{% if current_user.admin_flag %}
						{{ form.name(placeholder='Enter a name', autofocus='autofocus', class=form.name.errors and 'form-error' or '') }}
					{% else %}
						{{ form.name(placeholder='Enter a name', autofocus='autofocus', readonly='readonly', class=form.name.errors and 'form-error' or '') }}
					{% endif %}

					{% for error in form.name.errors %}
						<span class="errormsg">{{ error }}</span>
					{% endfor %}
				</div>
				
				{% if form.users %}
					<div class="users-div">
						{{ form.users.label }}
						{% if current_user.admin_flag %}
							{{ form.users(class=form.users.errors and 'form-error' or '') }}
						{% else %}
							{{ form.users(class=form.users.errors and 'form-error' or '', disabled='') }}
						{% endif %}

						{% for error in form.users.errors %}
							<span class="errormsg">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}

				<div class="ipv4_address">
					{{ form.ipv4_address.label }}
					{% if current_user.admin_flag %}
						{{ form.ipv4_address(placeholder='IPv4 network', class=form.ipv4_address.errors and 'form-error' or '') }}
					{% else %}
						{{ form.ipv4_address(placeholder='IPv4 network', readonly='readonly', class=form.ipv4_address.errors and 'form-error' or '') }}
					{% endif %}

					{% for error in form.ipv4_address.errors %}
						<span class="errormsg">{{ error }}</span>
					{% endfor %}
				</div>
				
				<div class="ipv6_address">
					{{ form.ipv6_address.label }}
					{% if current_user.admin_flag %}
						{{ form.ipv6_address(placeholder='IPv6 network', class=form.ipv6_address.errors and 'form-error' or '') }}
					{% else %}
						{{ form.ipv6_address(placeholder='IPv6 network', readonly='readonly', class=form.ipv6_address.errors and 'form-error' or '') }}
					{% endif %}

					{% for error in form.ipv6_address.errors %}
						<span class="errormsg">{{ error }}</span>
					{% endfor %}
				</div>
				
				{% if current_user.admin_flag %}
					<input type="submit" value="{{ network and 'Update' or 'Create' }}" />
				{% else %}
					<input type="submit" value="{{ network and 'Update' or 'Create' }}" disabled="disabled" />
				{% endif %}
			</fieldset>
		</form>

		{% if network and current_user.admin_flag %}
			<div class="dangerzone">
				<h2>Danger zone</h2>

				<form method="post" action="{{ url_for('network/delete', network_id=network.id) }}">
					<h3>Delete this network</h3>

					<input type="submit" value="Delete network" />
					<p>The deleted network can <strong>not</strong> be recovered once deleted !</p>
				</form>
			</div>
		{% endif %}
	</div>
{% endblock %}
