{% extends "generic/page.html" %}

{% block title %}Freelan Server - Settings overview{% endblock %}

{% block page %}
	<h1>Settings overview</h1>

	{% if authority_certificate and authority_private_key %}

		<p>Here are the current settings for your server. Click <a href="{{ url_for('settings') }}">here</a> to change them or use the <a href="{{ url_for('settings_wizard') }}">certificate generation wizard</a>.</p>

		<h2>Authority certificate</h2>

		<div>
		{{ authority_certificate | x509_certificate | safe}}
		</div>

		<h2>Authority private key</h2>

		<div>
		{{ authority_private_key | rsa_key | safe}}
		</div>

	{% else %}

		<p>No authority certificate is currently set. Click <a href="{{ url_for('settings') }}">here</a> to set one or use the <a href="{{ url_for('settings_wizard') }}">certificate generation wizard</a>.</p>

	{% endif %}

{% endblock %}
