{% extends "generic/page.html" %}

{% block title %}Freelan Server - Certificate generation wizard{% endblock %}

{% block page %}
	<h1>Certificate generation wizard</h1>

	<div class="form-box">
		<form method="post" action="{{ url_for('settings_wizard') }}">
			<fieldset>
				<h2><strong>Certificate generation wizard</strong></h2>

				<input type="submit" value="Next" />
				<a class="button" href="{{ url_for('settings_overview') }}">Abort certificate generation</a>
			</fieldset>
		</form>
	</div>
{% endblock %}
