{% extends "generic/page.html" %}

{% block title %}
	{% if user %}
Freelan Server - User: {{ user.username }}
	{% else %}
Freelan Server - New user
	{% endif %}
{% endblock %}

{% block page %}
	{% if user %}
		<h1>User: <b>{{ user.username }}</b></h1>
	{% else %}
		<h1>New user</h1>
	{% endif %}

	<div class="form-box">
		{% if user %}
			<form method="post" action="{{ url_for('user', user_id=user.id) }}">
		{% else %}
			<form method="post" action="{{ url_for('user/create') }}">
		{% endif %}
			{{ form.csrf_token }}

			<fieldset>
				{% if user.email %}
					<img class="avatar" src="{{ user.email | gravatar(size=128) }}" alt="{{ user.email }}" />
				{% endif %}

				<div class="username-div">
					{{ form.username.label }}
					{% if current_user.admin_flag or (current_user == user) %}
						{{ form.username(placeholder='Enter a username', autofocus='autofocus', class=form.username.errors and 'form-error' or '') }}
					{% else %}
						{{ form.username(placeholder='Enter a username', autofocus='autofocus', readonly='readonly', class=form.username.errors and 'form-error' or '') }}
					{% endif %}

					{% for error in form.username.errors %}
						<span class="errormsg">{{ error }}</span>
					{% endfor %}
				</div>
				
				{% if form.admin_flag %}
					<div class="admin-flag-div">
						<label>
							{{ form.admin_flag(class=form.admin_flag.errors and 'form-error' or '') }}
							{{ form.admin_flag.label.text }}

							{% for error in form.admin_flag.errors %}
								<span class="errormsg">{{ error }}</span>
							{% endfor %}
						</label>
					</div>
				{% elif current_user.admin_flag %}
					<p class="information"><em>You have administrative privileges.</em></p>
				{% endif %}

				{% if form.current_password %}
					<div class="current-password-div">
						{{ form.current_password.label }}
						{{ form.current_password(placeholder='Enter your current password', class=form.current_password.errors and 'form-error' or '') }}

						{% for error in form.current_password.errors %}
							<span class="errormsg">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}

				{% if form.new_password %}
					<div class="new-password-div">
						{{ form.new_password.label }}
						{{ form.new_password(placeholder='Enter the new password', class=form.new_password.errors and 'form-error' or '') }}

						{% for error in form.new_password.errors %}
							<span class="errormsg">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}

				{% if form.new_password_repeat %}
					<div class="new-password-repeat-div">
						{{ form.new_password_repeat.label }}
						{{ form.new_password_repeat(placeholder='Repeat the new password', class=form.new_password_repeat.errors and 'form-error' or '') }}

						{% for error in form.new_password_repeat.errors %}
							<span class="errormsg">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}

				{% if form.email %}
					<div class="email-div">
						{{ form.email.label }}
						{{ form.email(placeholder='Enter an email for the user', class=form.email.errors and 'form-error' or '') }}

						{% for error in form.email.errors %}
							<span class="errormsg">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}

				{% if form.networks %}
					<div class="networks-div">
						{{ form.networks.label }}
						{% if current_user.admin_flag %}
							{{ form.networks(class=form.networks.errors and 'form-error' or '') }}
						{% else %}
							{{ form.networks(class=form.networks.errors and 'form-error' or '', disabled='') }}
						{% endif %}

						{% for error in form.networks.errors %}
							<span class="errormsg">{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}

				{% if current_user.admin_flag or (current_user == user) %}
					<input type="submit" value="Update" />
				{% else %}
					<input type="submit" value="Update" disabled="disabled" />
				{% endif %}
			</fieldset>
		</form>
	</div>
{% endblock %}
