/* Main stylesheet */

body, div, h1, form, fieldset, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

html {
	height: 100%; /* Needed on some browsers for the gradient to work. */
}

body {
	background: #728eaa;
	background: -moz-linear-gradient(top, #25303C 0%, #728EAA 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25303C), color-stop(100%,#728EAA)); /* webkit */
	font-family: sans-serif;
}

#notification_box {
	float: top;
	margin: -8px auto 0 auto;
	padding-top: 8px;
	text-align: center;
	border-radius: 8px;
	background: #c9d0de;
	border: 1px solid #e1e1e1;
	-moz-box-shadow: 8px 0px 8px #444;
	-webkit-box-shadow: 8px 0px 8px #444;
}

#notification_box > p {
	border-top: 1px gray dotted;
	margin: 0;
	padding: 0;
}

#notification_box > p:first-child {
	border-top: none;
}

#login_box {
	width: 430px;
	margin: 60px auto;
	padding: 60px 30px;
	background: #c9d0de;
	border: 1px solid #e1e1e1;
	border-radius: 8px;
	-moz-box-shadow: 0px 0px 8px #444;
	-webkit-box-shadow: 0px 0px 8px #444;
}

#login_box h1 {
	font-size: 35px;
	color: #445668;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 35px 0;
	text-shadow: 0px 1px 0px #f2f2f2;
}

#login_box label {
	float: left;
	clear: left;
	margin: 11px 20px 0 0;
	width: 95px;
	text-align: right;
	font-size: 16px;
	color: #445668;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px #f2f2f2;
}

#login_box input {
	width: 260px;
	height: 35px;
	padding: 5px 20px 0px 20px;
	margin: 0 0 20px 0;
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;
	-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-family: sans-serif;
	font-size: 16px;
	color: #f2f2f2;
	text-shadow: 0px -1px 0px #334f71;
}

#login_box input::-webkit-input-placeholder,
#login_box input:-moz-placeholder {
		color: #a1b2c3;
		text-shadow: 0px -1px 0px #38506b;
		text-transform: uppercase;
}

#login_box textarea {
	width: 260px;
	height: 170px;
	padding: 12px 20px 0px 20px;
	margin: 0 0 20px 0;
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;
	-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-family: sans-serif;
	font-size: 16px;
	color: #f2f2f2;
	text-transform: uppercase;
	text-shadow: 0px -1px 0px #334f71;
}

#login_box textarea::-webkit-input-placeholder {
	color: #a1b2c3;
	text-shadow: 0px -1px 0px #38506b;
}

#login_box textarea:-moz-placeholder {
	color: #a1b2c3;
	text-shadow: 0px -1px 0px #38506b;
}

#login_box input:focus,
#login_box textarea:focus {
	background: #728eaa;
	background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668099), color-stop(20%,#728eaa)); /* webkit */
}

#login_box input[type=submit] {
	width: 185px;
	height: 52px;
	float: right;
	padding: 10px 15px;
	margin: 0 15px 0 0;
	-moz-box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	border: 1px solid #556f8c;
	background: -moz-linear-gradient(top, #718DA9 0%, #415D79 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415D79)); /* webkit */
	cursor: pointer;
}
