{# The login page #}

{% extends "base.html" %}

{% block title_suffix %} - Login{% endblock %}

{% block content %}

<div id="login_box">
	<h1>Authentication</h1>

	<form method="post" action="{{ url_for('login') }}">
		<fieldset>
			<label for="username_box">Username:</label>
			<input type="text" id="username_box" name="username" placeholder="Enter your username" autofocus="autofocus" required="required" />
			
			<label for="password_box">Password:</label>
			<input type="password" id="password_box" name="password" placeholder="Enter your password" required="required" />
			
			<input type="submit" value="Login" />
		</fieldset>
	</form>
</div>

{% endblock %}
