{% extends "submenu.html" %}

{% block title_suffix %} - Networks{% endblock %}
{% block submenu_title %}Networks{% endblock %}

{% block submenu_content %}
	<h2>Networks</h2>
	<p>There is currently <strong>{{ networks | count }}</strong> network(s). Click <a href="{{ url_for('create_network') }}">here</a> to create a new one.</p>

	{% if networks %}
		<div id="networks_list" class="tile_list">
			<ul class="tiles_box">
				{% for network in networks %}
					<li>
						<a class="tile" href="{{ url_for('network', name=network.name) }}">
							<span class="network">
								{{ network.name }}
							</span>
						</a>
					</li>
				{% endfor %}
				<li>
					<a class="tile fade" href="{{ url_for('create_network') }}">
						<span class="network create_network">New network</span>
					</a>
				</li>
			</ul>
		</div>
	{% endif %}
{% endblock %}

