{# The notification box #}

{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<div id="notification_box">
			{% for category, message in messages %}
				<p class="{{ category }}">{{ message }}</p>
			{% endfor %}
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				var notification_box = $("div#notification_box");
				var notification_close_div = $("<div class=\"notification_close\">click here to remove the notification bar</div>")

				notification_box.append(notification_close_div);
				notification_close_div.click(function() { notification_box.slideUp(); });
				notification_box.hide().slideDown();

				if (notification_box.find("p.denied, p.error").length === 0)
				{
					notification_box.delay(2500).slideUp();
				}
				else
				{
					notification_box.find("p:not(.denied, .error)").delay(2500).slideUp();
				}
			});
		</script>
	{% endif %}
{% endwith %}

