{% extends "submenu.html" %}

{% block title_suffix %} - Profile for user "{{ user.username }}"{% endblock %}
{% block submenu_title %}Profile for user "{{ user.username }}"{% endblock %}

{% block submenu_content %}
	<h2>Profile for user "{{ user.username }}"</h2>

	<form method="post" action="{{ url_for('user', username=user.username) }}">
		<fieldset>
			<label for="username_box">Username:</label>
			<input type="text" id="username_box" name="username" readonly="readonly" required="required" placeholder="Username" value="{{ user.username }}" />

			<label for="email_box">Email:</label>
			<input type="email" id="email_box" name="email" placeholder="Email" value="{{ user.email }}" />

			{% if not current_user.admin_flag or (current_user.id == user.id) %}
				<label for="password_box">Current password:</label>
				<input type="password" id="password_box" name="password" placeholder="Enter the current password" />
			{% else %}
				<input type="hidden" name="password" />
			{% endif %}

			<label for="new_password_box">New password:</label>
			<input type="password" id="new_password_box" name="new_password" placeholder="Enter the new password" />

			<label for="new_password_repeat_box">Repeat password:</label>
			<input type="password" id="new_password_repeat_box" name="new_password_repeat" placeholder="Repeat the new password" />

			<label for="admin_flag_box">Administrator flag:</label>
			<input type="checkbox" id="admin_flag_box" name="admin_flag" value="yes" {% if user.admin_flag %}checked="checked"{% endif %} {% if (current_user.id == user.id) %}disabled="disabled"{% endif %} />
		</fieldset>

		<fieldset>
			<input type="reset" value="Reset" />
			<input type="submit" value="Update" />
		</fieldset>
	</form>

	<h2>Danger zone</h2>

	<form method="post" action="{{ url_for('delete_user', username=user.username) }}">
		<input class="danger" type="submit" value="Delete user" />
	</form>

{% endblock %}

