{% extends "submenu.html" %}

{% block title_suffix %} - Users{% endblock %}
{% block submenu_title %}Users{% endblock %}

{% block submenu_content %}
	<h2>User accounts</h2>
	<p>There is currently <strong>{{ users | count }}</strong> user account(s). Click <a href="{{ url_for('create_user') }}">here</a> to create a new one.</p>

	{% if users %}
		<div id="users_list">
			<ul class="tiles_box">
				{% for user in users %}
					<li>
						<a class="tile" href="{{ url_for('user', username=user.username) }}">
							<span class="user">
								{% if user.email %}
									<img src="{{ user.email | gravatar(size=128)}}" alt="User avatar" />
								{% endif %}
								{% if user.admin_flag %}
									<span class="admin" title="Administrator"></span>
								{% endif %}
								{{ user.username }}
							</span>
						</a>
					</li>
				{% endfor %}
				<li>
					<a class="tile fade" href="{{ url_for('create_user') }}">
						<span class="user create_user">New user</span>
					</a>
				</li>
			</ul>
		</div>
	{% endif %}
{% endblock %}
