{% extends "submenu.html" %}

{% block title_suffix %} - Users{% endblock %}
{% block submenu_title %}Users{% endblock %}

{% block submenu_content %}
	<h2>User accounts</h2>
	<p>There is currently {{ users | count }} user account(s).</p>

	{% if users %}
		<div id="users_list">
			<ul class="tiles_box">
				{% for user in users %}
					<li>
						<a class="tile" href="{{ url_for('user', username=user.username) }}">
							<span class="user">
								{% if user.email %}
									<img src="{{ user.email | gravatar(size=128)}}" alt="User avatar" />
								{% endif %}
								{% if user.admin_flag %}
									<span class="admin" title="Administrator"></span>
								{% endif %}
								{{ user.username }}
							</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}
